img {
  opacity: 50%;
  height: auto;
  width: auto;
  position: absolute;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      'accomplish facts'
      'accomplish website'
      'quote quote';
    padding: 20px;
    grid-gap: 2em;
    position: relative;
  }

.accomplish {
    grid-area: accomplish;
    background-color: rgb(255, 132, 0);
    box-shadow: 5px 5px 5px 7px gray;
    text-align: center;
  }
.accomplish ul {
  text-align: left;
}
  
.facts {
    grid-area: facts;
    background-color: rgb(92, 180, 232);
    box-shadow: 5px 5px 5px 7px gray;
    text-align: center;
  }
  
.website {
    grid-area: website;
    background-color: rgb(54, 210, 103);
    box-shadow: 5px 5px 5px 7px gray; 
    text-align: center;
  }
  
.quote {
    grid-area: quote;
    background-color: brown;
    color: whitesmoke;
    box-shadow: 5px 5px 5px 7px gray;
    text-align: center;
  }

